<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="akka">
      <section name="akka.actor" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
      <section name="akka.cluster" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
      <section name="akka.remote" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
      <section name="akka.petabridge.cmd" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <akka>
    <akka.actor>
      <hocon><![CDATA[
          akka {
						actor {              
							provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
            }
          }
            ]]></hocon>
    </akka.actor>
    <akka.cluster>
      <hocon>
                <![CDATA[
          akka {
            cluster {
							seed-nodes = ["akka.tcp://testsystem@127.0.0.1:33301"]
							roles = ["petabridge.cmd"]
						}
          }
        ]]></hocon>
    </akka.cluster>
    <akka.remote>
      <hocon>
                <![CDATA[
          akka {
            remote {
							log-remote-lifecycle-events = DEBUG
              
							helios.tcp {
                transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
								public-hostname = "localhost"
								hostname = "127.0.0.1"
								port = 34300
							}
						}  
          }
        ]]></hocon>
    </akka.remote>
    <akka.petabridge.cmd>
      <hocon>
        <![CDATA[
          petabridge.cmd{
            # default IP address used to listen for incoming petabridge.cmd client connections
	          # should be a safe default as it listens on "all network interfaces".
	          host = "0.0.0.0"

	          # default port number used to listen for incoming petabridge.cmd client connections
	          port = 9110
	          # disable logging palettes on startup
	          log-palettes-on-startup = off
          }
      ]]>
      </hocon>
    </akka.petabridge.cmd>    
  </akka>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ActorSystemName" value="testsystem" />
  </appSettings>
</configuration>