<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <akka>
    <akka.remote xdt:Transform="Replace">
      <hocon>
        <![CDATA[
          akka {
            remote {
							log-remote-lifecycle-events = DEBUG
              
							helios.tcp {
								public-hostname = "#{Akka Hostname}"
								hostname = "#{Akka Hostname}"
                port = #{Akka PetabridgeCmd Port}
							}
						}  
          }
        ]]>
      </hocon>
    </akka.remote>
    <akka.cluster xdt:Transform="Replace">
      <hocon>
        <![CDATA[
          akka {
            cluster {
							seed-nodes = [#{Akka Seed Nodes}]
							roles = ["petabridge.cmd"]
						}
          }
        ]]>
      </hocon>
    </akka.cluster>
    <akka.petabridge.cmd xdt:Transform="Replace">
      <hocon>
        <![CDATA[
          petabridge.cmd{
            # default IP address used to listen for incoming petabridge.cmd client connections
	          # should be a safe default as it listens on "all network interfaces".
	          host = "0.0.0.0"

	          # default port number used to listen for incoming petabridge.cmd client connections
	          port = "#{Akka PetabridgeCmd Service Port}"
            
	          # disable logging palettes on startup
	          log-palettes-on-startup = off
          }
      ]]>
      </hocon>
      </akka.petabridge.cmd>
  </akka>
</configuration>
